@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .clamp-4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    align-self: stretch;
    overflow: hidden;
  }

  .slide-right {
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
  }

  .slide-right:after {
    content: "»";
    position: absolute;
    right: -20px;
    transition: 0.5s;
  }

  .slide-right:hover {
    padding-right: 24px;
    padding-left: 8px;
  }

  .slide-right:hover:after {
    right: 10px;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 244, 242, 238;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
